﻿<Router Context="routeData" AppAssembly="typeof(Program).Assembly">
    <Found>
        <RouteView RouteData="routeData" DefaultLayout="typeof(DefaultLayout)" />
    </Found>
    <NotFound>
        <h1>Page not found!</h1>
    </NotFound>
</Router>